@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  button {
    @apply border border-black rounded-xl px-5 py-1;
  }
}
body {
  box-sizing: border-box;
}
.mark {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border: 2px solid white;
  width: 20px;
  height: 20px;
  background-color: white;
  position: absolute;
  top: 0px;
  left: 30px;
  font-size: 10px;
  line-height: 20px;
  font-weight: 400;
  color: black;
  font-weight: 700;
}
